*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS DE TODO EL HEADER DE LA PAGINA*/
div{
    background-image: url(../assets/Imagenes/imagentitulo.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
    background-position: bottom;
}

.icono{
    width: 100px;
}
.container-header{
    align-items: flex-start;
    display: flex;
    flex-direction: row-reverse;
    list-style-type: none;
}

header span{
    display: none;
    
}

span{
    width: 100%;
    padding-bottom: 15px;
    padding-left: 15px;
}
.container-header__background{ 
    display: flex;
    flex-flow: row;
    background-color: hsl(207, 79%, 53%);
    border-radius: 5px;
    margin-left: 15px;
    text-align:center;
    list-style-type: none;
    margin-bottom: 15px;
}

h1{
    margin-left: 120px;
    font-family:fantasy;
    text-align:justify;
    padding-bottom:15px;
    display: flex;
    justify-content: flex-start;
    background-color: transparent;
}


nav{
margin-right: 10px;
margin-left: 10px;

}

ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-around;
}


nav ul li a{
    font-family: sans-serif;
    margin-right: 25px;
    display: inline-block;
    
}


a{
    color: white;
    font-weight:bold;
    font-family: sans-serif;
    margin-left: 25px;
    margin-right: 25px;

}

.construimos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../ASSETS/Imagenes/imagenportada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: cover;
    opacity: 0.9;
    color: white;
    font-size: larger;
}

.construimos__parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 120px;
    background: white;
    opacity: 0.5;
    color: black;
}


.construimos__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 60px;
    color: white;
}

.construimos h2 {
    display: inline-block;
    justify-content: center;
}
.construimos h2{
    width: 600px;
    background-color:white;
    opacity: 0.7;
    color: black;
    transition:all 10s;
}
.construimos h2:hover{

    width: 800px;
}

.construimos__imagen{
    background-position: contain;
    background-repeat: no-repeat;
    opacity: 0.9;
}

.planopileta{
    background-image: url(../assets/Imagenes/imagentitulo.jpg);
    margin: o auto;
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

}

.planopileta__parrafo{
    grid-area: 1/1/3/3;
    place-self: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:x-large;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
    
}

.planopileta__imagen{
    width: 300px;
    height: 220px;
}
.construimos__enlace{
    background-color: white;
    opacity: 0.5;
    color: black;
    display: flex;
    justify-content:space-around;
    align-content: flex-start;

}

.contactanos{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 60px ;
    padding-left: 60px;
}

.construimos__enlace{
    display: flex;
    flex-flow: wrap;
    border-radius: 5px;
    border-top: solid cadetblue;
    border-bottom: solid cadetblue;
}
/* estilos de Footer*/

.estilofooter{
    background-position: bottom;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    
}

/* ESTILO DE REDES SOCIALES DEL FOOTER*/

.estilofooter__redessociales{
    text-align:center;
    list-style-type: none;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.estilofooter__redessociales--estilo{
    color: white;
    font-weight:bold;
    font-family: sans-serif;
    padding-right: 10px;
    padding-left: 10px;
    background-color: hsl(207, 79%, 53%);
    background-position:cover;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 15px;
}

.construimos__enlace{
    display: flex;
    flex-flow:row-reverse;
}

.final{
    display: flex;
    flex-flow:row;
    justify-content: space-between;
    background-position: bottom;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
/*.final__imagen{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
}
.final__redes{
    display: flex;
    flex-flow: row;
    padding-top: 10px;
    background-repeat: no-repeat;
}*/

/* a partir de aca, estilos de la SECCIÓN CONTACTANOS*/

.seccioncontactanos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../assets/Imagenes/imagen\ de\ contacto.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.9;
    color: white;
    font-size: larger;
}

.seccioncontactanos__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    color: black;
}

.seccioncontactanos__parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
}
.completa{
    display: inline-block;
    align-items:center;
    background-color: white;
    color: black;
    opacity: 0.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 120px;
    margin-right: 40px;
    border-radius: 5px;
    border-style: solid;
    border-top: cadetblue;
    border-bottom: cadetblue;
    margin-top: 10px;
}

.enviar{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    padding: 5px;
    margin: 10px;
}

.volver{
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    border-top: solid cadetblue;
    border-bottom: solid cadetblue;
    color: black;
    background-image: url(../assets/Imagenes/imagentitulo.jpg);
    background-size: cover;

    
}

/*FOOTER de la SECCIÓN CONTACTANOS*/

.estilofooter{
    background-position: bottom;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.redessociales{
    background-color: hsl(207, 79%, 53%);
    background-position:cover;
    border-radius: 5px;
    text-align:center;
    list-style-type: none;
    display: flex;
    flex-flow: nowrap ;
    justify-content: space-between;
}

.final{
    display: flex;
    flex-flow: nowrap;
    justify-content: space-between;
    background-position: bottom;
    background-size: cover; 
    margin: 0;
    padding: 15px;
}

/* Estilos de la SECCION ILUMINACION*/

.iluminacion{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../assets/Imagenes/iluminacion1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.9;
    color: white;
    font-size: larger;
}

.iluminacion__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    color: gray;
}

.iluminacion__parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
}

.iluminacion__imagen{
    background-position: contain;
    opacity: 0.9;
    display: flex;
    flex-flow: column;
}

.descripcion__luces--parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 1.5;
    background-color:cadetblue;
    background-position: center;
    border: gray;
    border-style: solid;
    background: size 100%;
    opacity: 0.5;
    color: white;
    text-shadow: black;
    margin: 60px 60px 60px 60px;
    position: relative;
    margin:auto;
    
}


.descripcion__luces{
    background-image: url(../assets/Imagenes/imagentitulo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    
}
.iluminacionimagen{
    display: block;
    margin: auto;
    width: 100%;
}

.Especificaciones{
    margin-top:  15px;
}

/*clases de la SECCION QUIENES SOMOS*/

.somos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../assets/Imagenes/imagenportada.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    color: white;
    font-size: larger;
}

.somos__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    color: black;
}

.somos__parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
}



.tecontamos{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 1.5;
    background-color:cadetblue;
    background-position: center;
    border: gray;
    border-style: solid;
    background: size 100%;
    opacity: 0.5;
    color: white;
    text-shadow: black;
    margin: 60px 60px 60px 60px;
    position: relative;
    margin:auto;
}

.imagenessomos{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    width: 100;
}

/* a partir de aca estilos SECCION DE DISEÑOS*/

.diseños{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../assets/Imagenes/varios-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.9;
    color: white;
    font-size: larger;
}

.diseños__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    color: black;
}

.diseños__parrafo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
}

.diseños__imagen{
    margin-left: 50px;
    margin: auto;
    background-image: url(../assets/Imagenes/imagenportada.jpg);
    background-size: cover;
    background-position: center;
    width: 100;
}

.diseñosp{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../assets/Imagenes/varios-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;
    color: black;
    font-weight: bold;
    font-size: larger;
    padding-top:25px;
    padding-bottom: 25px;
    margin-top: 15px;
    margin-bottom: 10px;

}



.direccionimagenes{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: auto;
    width: 100;
    background-image: url(../assets/Imagenes/imagentitulo.jpg);
    background-size: cover;

}

.direccionimagenes__elegidiseño{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bold;
    
    opacity: 0.9;
    color: black;
    display: flex;
    flex-flow: row;
    justify-content:center;
    padding-left: 20px;
    padding-top: 20px;
}

.direccionimagenes__modelos{
    width: 280px;
    height: 165px;
    padding: 10px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
}
/* estilos de la SECCION GALERIA*/

.galeria{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../assets/Imagenes/galeria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.9;
    color: white;
    font-size: larger;
}

.galeria__title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    color: white;
}

.galeria__parrafo{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
}

.galeria__imagen{
    margin-left: 50px;
    position: relative;
    margin: auto;
    
    
    background-image: url(../assets/Imagenes/imagentitulo.jpg);
}

.iluminacionimagen{
    background-position: contain;
    opacity: 0.9;
    object-fit: contain;
}

/* se establecen las @media para la barra de navegacion y el header*/

@media (max-width: 874px) {
    ul {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    }
}

@media (max-width: 790px) {
    h1{
        display: flex;
        flex-flow:row;
        justify-content: center;
        margin: auto;
    }
}
@media(max-width: 838px){
    .container-header{
        background-position:relative;
    }
}

@media(max-width: 790px){
    .icono{
        width: 50px;
        display: block;
        margin: auto;
    }
}

@media(max-width: 580px){
    h1{
        font-size: 25px;
    }
}

@media(max-width: 580px){
    ul{
        display: none;
    }
    header span{
        display: block;

    }
}



@media(max-width:1000px){
    .planopileta{
    grid-template-columns: auto;
    }
    .planopileta__imagen{
        grid-template-columns: repeat(2 1fr);
        width: 75%;
        height: 350;
        padding-left: 50px;
    }
}

@media(max-width:714px){
    .planopileta__imagen{
        
        width: 70%;
}
        .planopileta__parrafo{
            font-size: medium
        }
}

@media(max-width:660px){
    .planopileta__imagen{
        width: 50%;
        height: 70px;
        justify-content: center;
    }
}







/*se establecen las @media para el footer*/

@media (max-width: 874px){
    .estilofooter__redessociales{
        display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient( to left  cadetblue  hsl(207, 79%, 53%) ) ;
    }
}

@media (max-width: 874px){
    .volver{
        display:flex;
        flex-flow: row;
        justify-content: center;
        align-content: center;
    }
}


@media ( max-width: 600px){
    footer .final img{
    width: 30px;
    display: flex;
    position: relative;
    }

}

@media (max-width: 360px){
    footer  div a {
        display: none

    }
}

@media(max-width: 360px){
    footer .whatsapp{
        display:inline-block;
    }
}

/* responsive de contactanos*/

@media (max-width: 588px){
    .seccioncontactanos__title{
        color: aliceblue;
    }
}

@media (max-width: 622px){
    .formulario{
        display: inline-block;
        padding-left: 30px;
        
    }
}

/*responsive quienes somos*/
@media (max-width: 600px){
    .somos__title{
        color: aliceblue;
    }
}
@media (max-width: 583px){
    .imagenessomos{
        display:flex;
        flex-direction: column;
        width:100%
    }
}
@media (max-width: 350px){
    .somos__parrafo{
        font-size: medium;
    }
    .tecontamos{
        font-size: medium;
    }
}

/*responsive diseños*/
@media (max-width: 812px){
    .diseños__title{
        color: aliceblue;

    }
}

@media (max-width: 1414px){
    .direccionimagenes{
        display:flex;
        flex-direction: column;
    }
}

@media (max-width: 1242px){
    .direccionimagenes__elegidiseño{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 530px){
    .direccionimagenes__modelos{
        display:flex;
        flex-direction: column;
        width: 180px;
        height: auto;
        font-size: medium;
    }
    .direccionimagenes__elegidiseño{
        font-size: small;
    }
}

@media (max-width: 370px){
    .diseños__parrafo{
        font-size: medium;
    }
    .diseñosp{
        font-size: medium;
    }
}

/* responsive de la seccion galeria*/
@media(max-width:500px){
    .galeria__parrafo{
        font-size: medium;
    }
}

@media(max-width:350px){
    .galeria__parrafo{
        font-size: small;
    }
}

/* responsive iluminacion*/

@media(max-width: 370px){
    .iluminacion__parrafo{
        font-size: medium;
    }
    .descripcion__luces--parrafo{
        font-size: medium;
    }
}

