@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containerTemple, .galeria h2, .diseños h2, .seccioncontactanos h2, h2 {
  max-width: 1200px;
  margin: 0 auto;
}

div {
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-position: bottom;
}

.icono {
  width: 100px;
}

.container-header {
  align-items: flex-start;
  display: flex;
  flex-direction: row-reverse;
  list-style-type: none;
}

.container-header__background {
  display: flex;
  flex-flow: row;
  background-color: #2891e6;
  border-radius: 5px;
  margin-left: 15px;
  text-align: center;
  list-style-type: none;
  margin-bottom: 15px;
}

h1 {
  margin-left: 120px;
  font-family: fantasy;
  text-align: justify;
  padding-bottom: 15px;
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
}

nav {
  margin-right: 10px;
  margin-left: 10px;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;
  align-content: space-around;
}

nav ul li a {
  font-family: sans-serif;
  margin-right: 25px;
  display: inline-block;
}

a {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: 25px;
  margin-right: 25px;
}

.construimos {
  font-family: Segoe UI;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  opacity: 0.9;
  color: white;
  font-size: larger;
  background-image: url(../assets/imagenes/imagenportada.jpg);
}

h2 {
  font-family: Segoe UI;
  position: relative;
  text-align: center;
  padding-top: 60px;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
}

p {
  font-family: Segoe UI;
  font-size: 40px;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  margin-left: 170px;
  margin-top: 80px;
  background: white;
  opacity: 0.5;
  color: black;
  -webkit-animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

img {
  background-image: url(../assets/imagenes/imagenportada.jpg);
  background-position: contain;
  background-repeat: no-repeat;
  opacity: 0.9;
}

@keyframes construimos__parrafo {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
  }
}
/* animacion */
.construimos h2 {
  display: inline-block;
  justify-content: center;
}

h2 {
  width: 600px;
  background-color: white;
  opacity: 0.7;
  color: black;
}
h2:hover {
  transition: all 10s;
  width: 800px;
}

.planopileta {
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  margin: o auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  gap: 20px;
  margin: 0 auto;
}
.planopileta p {
  display: grid;
  grid-area: 1/1/3/3;
  align-self: center;
  font-family: Segoe UI;
  font-size: x-large;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 200px;
  margin-left: 150px;
  background: white;
  opacity: 0.5;
  color: black;
}
.planopileta div {
  width: 300px;
  height: 220px;
  margin-bottom: 15px;
  cursor: pointer;
  overflow: hidden;
}

.planopileta__imagen img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
}
.planopileta__imagen img:hover {
  transform: scale(1.3);
}

.contactanos {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 60px;
  padding-left: 60px;
}

.construimos__enlace {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  border-top: solid cadetblue;
  border-bottom: solid cadetblue;
  color: black;
  text-decoration: none;
}

.contactanos__main {
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.seccioncontactanos {
  font-family: Segoe UI;
  text-align: center;
  background-image: url(../assets/imagenes/imagen_de_contacto.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.9;
  color: white;
  font-size: larger;
}
.seccioncontactanos h2 {
  display: inline-block;
  justify-content: center;
  width: 300px;
  background-color: white;
  opacity: 0.7;
  color: black;
  transition: all 10s;
}
.seccioncontactanos h2:hover {
  width: 600px;
}

/*animacion a seccion contactanos*/
.seccioncontactanos h2 {
  font-family: Segoe UI;
  text-align: center;
  padding-top: 30px;
  color: black;
}
.seccioncontactanos p {
  font-family: Segoe UI;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: 200px;
  margin-right: 40px;
  background: white;
  opacity: 0.5;
  color: black;
}

/*aplicando bootstrap en formulario*/
.contactanos__main {
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.row {
  background-repeat: no-repeat;
}

.completa {
  display: inline-block;
  align-items: center;
  background-color: white;
  color: black;
  opacity: 0.5;
  font-family: Segoe UI;
  margin-left: 120px;
  margin-right: 40px;
  border-radius: 5px;
  border-style: solid;
  border-top: cadetblue;
  border-bottom: cadetblue;
  margin-top: 10px;
}

.enviar {
  font-family: Segoe UI;
  font-size: large;
  padding: 5px;
  margin: 10px;
}

.volver {
  display: flex;
  flex-flow: row;
  justify-content: start;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-top: solid cadetblue;
  border-bottom: solid cadetblue;
  color: black;
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-size: cover;
}

.diseños div {
  font-family: Segoe UI;
  text-align: center;
  background-position: center;
  opacity: 0.9;
  color: white;
  font-size: larger;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../assets/imagenes/imagen_de_contacto.jpg);
}
.diseños h2 {
  font-family: Segoe UI;
  position: relative;
  text-align: center;
  padding-top: 60px;
  color: white;
  display: flex;
  flex-flow: row;
  justify-content: center;
}
.diseños p {
  font-family: Segoe UI;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: 200px;
  margin-right: 40px;
  background: white;
  opacity: 0.5;
  color: black;
}

.diseños__imagen {
  margin-left: 50px;
  margin: auto;
  background-image: url(../assets/imagenes/imagenportada.jpg);
  background-size: cover;
  background-position: center;
  width: 100;
}

/* debajo agrego animacion*/
.diseños h2 {
  display: inline-block;
  justify-content: center;
  width: 300px;
  background-color: white;
  opacity: 0.7;
  color: black;
  transition: all 10s;
}
.diseños h2:hover {
  width: 600px;
}

.direccionimagenes p {
  -webkit-animation: wobble-hor-top 0.8s both;
  animation: wobble-hor-top 0.8s both;
}
@keyframes direccionimagenes__elegidiseño {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}
@keyframes wobble-hor-top {
  0%, 100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  15% {
    -webkit-transform: translateX(-30px) rotate(6deg);
    transform: translateX(-30px) rotate(6deg);
  }
  30% {
    -webkit-transform: translateX(15px) rotate(-6deg);
    transform: translateX(15px) rotate(-6deg);
  }
  45% {
    -webkit-transform: translateX(-15px) rotate(3.6deg);
    transform: translateX(-15px) rotate(3.6deg);
  }
  60% {
    -webkit-transform: translateX(9px) rotate(-2.4deg);
    transform: translateX(9px) rotate(-2.4deg);
  }
  75% {
    -webkit-transform: translateX(-6px) rotate(1.2deg);
    transform: translateX(-6px) rotate(1.2deg);
  }
}

.direccionimagenes {
  display: inline-block;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 auto;
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-size: cover;
}
.direccionimagenes p {
  font-family: Segoe UI;
  font-size: x-large;
  font-weight: bold;
  opacity: 0.9;
  color: black;
  justify-content: center;
  padding-left: 20px;
  padding-top: 20px;
}
.direccionimagenes img {
  width: 180px;
  height: 165px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.5s;
}
.direccionimagenes img:hover {
  transform: scale(1.1);
}

.diseñosp__diseños div p {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  font-family: Segoe UI;
  text-align: center;
  background-image: url(../assets/imagenes/varios-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.8;
  color: black;
  font-weight: bold;
  font-size: larger;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 auto;
}

.volver {
  display: flex;
  flex-flow: row;
  justify-content: start;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-top: solid cadetblue;
  border-bottom: solid cadetblue;
  color: black;
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-size: cover;
}

.galeria {
  font-family: Segoe UI;
  text-align: center;
  background-image: url(../assets/imagenes/galeria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.9;
  color: black;
  font-weight: bold;
  font-size: larger;
}
.galeria h2 {
  display: inline-block;
  justify-content: center;
  width: 300px;
  background-color: white;
  opacity: 0.7;
  color: black;
  font-family: Segoe UI;
  text-align: center;
  padding-top: 30px;
  transition: all 10s;
}
.galeria h2:hover {
  width: 600px;
}
.galeria h2:hover p {
  font-family: Segoe UI;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background: white;
  opacity: 0.5;
  color: black;
}

.carousel-item img .d-block w-100 {
  position: static;
  width: 100%;
  height: auto;
  max-height: auto;
}

.volver {
  display: flex;
  flex-flow: row;
  justify-content: start;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-top: solid cadetblue;
  border-bottom: solid cadetblue;
  color: black;
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-size: cover;
}

.somos {
  font-family: Segoe UI;
  text-align: center;
  background-image: url(../assets/imagenes/imagenportada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
  font-size: larger;
}
.somos h2 {
  font-family: Segoe UI;
  text-align: center;
  padding-top: 30px;
  color: black;
}
.somos p {
  font-family: Segoe UI;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 80px;
  padding-bottom: 40px;
  margin-left: 200px;
  margin-right: 40px;
  background: white;
  opacity: 0.5;
  color: black;
}

/*agregando animaciones*/
.somos h2 {
  display: inline-block;
  justify-content: center;
  width: 300px;
  background-color: white;
  opacity: 0.7;
  color: black;
  transition: all 10s;
}
.somos h2:hover {
  width: 600px;
}

.somos_somos img {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: auto;
  width: 100;
}
.somos_somos p {
  font-family: Segoe UI;
  font-size: x-large;
  text-align: center;
  line-height: 1.5;
  background-color: cadetblue;
  background-position: center;
  border: gray;
  border-style: solid;
  background: size 100%;
  opacity: 0.5;
  color: black;
  text-shadow: black;
  position: relative;
  margin: 0 auto;
  margin-left: 180px;
}

.volver {
  display: flex;
  flex-flow: row;
  justify-content: start;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-top: solid cadetblue;
  border-bottom: solid cadetblue;
  color: black;
  background-image: url(../assets/imagenes/imagentitulo.jpg);
  background-size: cover;
}

.estilofooter__redessociales {
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.estilofooter__redessociales--estilo {
  color: white;
  font-weight: bold;
  font-family: sans-serif;
  padding-right: 10px;
  padding-left: 10px;
  background-color: #2891e6;
  background-position: cover;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 15px;
}

.construimos__enlace {
  display: flex;
  flex-flow: row-reverse;
}

.final {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  background-position: bottom;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.estilofooter {
  background-position: bottom;
  font-family: Segoe UI;
  text-decoration: none;
}

.estilofooter {
  background-position: bottom;
  font-family: Segoe UI;
  text-decoration: none;
}

.redessociales {
  background-color: #2891e6;
  background-position: cover;
  border-radius: 5px;
  text-align: center;
  list-style-type: none;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}

.final {
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  background-position: bottom;
  background-size: cover;
  margin: 0;
  padding: 15px;
}

@media (max-width: 1414px) {
  .direccionimagenes {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 1242px) {
  .direccionimagenes__elegidiseño {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 874px) {
  .estilofooter__redessociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to left cadetblue #2891e6);
  }
}
@media (max-width: 874px) {
  .volver {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
  }
}
@media (max-width: 838px) {
  .container-header {
    background-position: relative;
  }

  .planopileta {
    grid-template-columns: repeat(2 1fr);
  }

  .planopileta__imagen {
    width: 40%;
    height: 40%;
  }
}
@media (max-width: 812px) {
  .diseños__title {
    color: aliceblue;
  }

  .planopileta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
  }

  .planopileta__parrafo {
    font-size: medium;
    margin: 0 auto;
  }
}
@media (max-width: 790px) {
  .icono {
    width: 50px;
    display: block;
    margin: auto;
  }
}
@media (max-width: 768px) {
  h1 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .planopileta__imagen {
    width: 40%;
    height: 40%;
    grid-template-columns: repeat(2 1fr);
  }

  .planopileta__parrafo {
    font-size: small;
    margin: o auto;
  }

  .construimos__title .somos__title .iluminacion__title .galeria__title .diseños__title .seccioncontactanos__title {
    transition: none;
  }

  .construimos__parrafo {
    font-size: 20px;
  }
}
@media (max-width: 622px) {
  .formulario {
    display: inline-block;
    padding-left: 30px;
  }
}
@media (max-width: 600px) {
  footer .final img {
    width: 30px;
    display: flex;
    position: relative;
  }

  .planopileta__parrafo {
    font-size: small;
  }

  .planopileta__imagen {
    width: auto;
  }
}
@media (max-width: 600px) {
  .somos__title {
    color: aliceblue;
  }
}
@media (max-width: 588px) {
  .seccioncontactanos__title {
    color: aliceblue;
  }
}
@media (max-width: 583px) {
  .imagenessomos {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 25px;
  }
}
@media (max-width: 576px) {
  .planopileta__imagen {
    width: 50%;
    height: 70px;
    justify-content: center;
  }

  h2 {
    font-size: large;
    transition: none;
  }

  .construimos__parrafo {
    font-size: small;
  }

  .construimos__title {
    font-size: large;
  }
}
@media (max-width: 570px) {
  .construimos h2 {
    font-size: large;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-items: center;
    align-items: center;
    margin: 0 auto;
    width: 400px;
  }
}
@media (max-width: 530px) {
  .direccionimagenes__modelos {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 180px;
    height: auto;
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .direccionimagenes__elegidiseño {
    font-size: small;
  }

  .construimos__parrafo {
    font-size: small;
  }
}
@media (max-width: 500px) {
  .construimos h2 {
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-items: center;
    align-items: center;
    width: 400px;
    font-size: medium;
  }
}
@media (max-width: 500px) {
  .galeria__parrafo {
    font-size: small;
  }
}
@media (max-width: 470px) {
  .construimos__title {
    text-align: center;
    display: inline;
    justify-items: center;
    align-items: center;
  }
}
@media (max-width: 415px) {
  .construimos h2 {
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-items: center;
    align-items: center;
    width: 200px;
  }
}
@media (max-width: 370px) {
  .diseños__parrafo {
    font-size: medium;
  }

  .diseñosp {
    font-size: medium;
  }
}
@media (max-width: 370px) {
  .iluminacion__parrafo {
    font-size: mediabsolute;
  }
}
@media (max-width: 370px) {
  .descripcion__luces--parrafo {
    font-size: medium;
  }
}
@media (max-width: 360px) {
  footer div a {
    display: none;
  }
}
@media (max-width: 360px) {
  footer .whatsapp {
    display: inline-block;
  }
}
@media (max-width: 350px) {
  .somos__parrafo {
    font-size: medium;
  }

  .tecontamos {
    font-size: medium;
  }
}
@media (max-width: 350px) {
  .galeria__parrafo {
    font-size: small;
  }
}

/*# sourceMappingURL=style.css.map */
