.galeria {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-image: url(../assets/Imagenes/galeria.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: 0.9;
    color: black;
    font-weight: bold;
    font-size: larger;

    h2 {
    display: inline-block;
    justify-content: center;
    width: 300px;
    background-color: white;
    opacity: 0.7;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    padding-top: 30px;
    transition: all 10s;

    &:hover {
        width: 600px;

    p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: -webkit-match-parent;
    line-height: 1.5;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 40px;
    margin-right: 40px;
    background: white;
    opacity: 0.5;
    color: black;
    }
    }
}
}

.carousel-item img .d-block w-100{
    position: static;
    
    width: 100%;
    height: auto;
    max-height: auto;
}
.volver{
    display: flex;
    flex-flow: row;
    justify-content: start;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-top: solid cadetblue;
    border-bottom: solid cadetblue;
    color: black;
    background-image: url(../assets/Imagenes/imagentitulo.jpg);
    background-size: cover;
}