
.iluminacion {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: url(../assets/Imagenes/iluminacion1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  opacity: 0.9;
  color: white;
  font-size: larger;

  h2 {
    display: inline-block;
    justify-content: center;
    width: 300px;
    background-color: white;
    opacity: 0.7;
    color: black;
    transition: all 10s;

    &:hover {
      width: 600px;
    }
  }
}

/*agragando animacion a iluninacion*/
.iluminacion{
  h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 30px;
  color: gray;
  }
  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background: white;
  opacity: 0.7;
  color: black;
  }
}


.descripcion__luces{
  background-image: url(../assets/Imagenes/imagentitulo.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: x-large;
  text-align: center;
  line-height: 1.5;
  background-color:cadetblue;
  background-position: center;
  border: gray;
  border-style: solid;
  background: size 100%;
  opacity: 0.5;
  color: white;
  text-shadow: black;
  margin: 60px 60px 60px 60px;
  position: relative;
  margin:auto;
  }
}
 

//seccion quienes somos//
.somos{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  background-image: url(../assets/Imagenes/imagenportada.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
  color: white;
  font-size: larger;

  h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding-top: 30px;
  color: black;
  }
  p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: -webkit-match-parent;
  line-height: 1.5;
  font-weight: bold;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;
  background: white;
  opacity: 0.5;
  color: black;
  }
}


/*agregando animaciones*/
.somos{
  h2{
    display: inline-block;
      justify-content: center;
      width: 300px;
      background-color:white;
      opacity: 0.7;
      color: black;
      transition:all 10s;
  &:hover{
      width: 600px;
}    
  }
}  

.somos_somos{
  img{
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: auto;
    width: 100;
  }
  p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    text-align: center;
    line-height: 1.5;
    background-color:cadetblue;
    background-position: center;
    border: gray;
    border-style: solid;
    background: size 100%;
    opacity: 0.5;
    color: white;
    text-shadow: black;
    margin: 60px 60px 60px 60px;
    position: relative;
    margin:auto;
  }
} 

